.header{
  width: 100vh;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.tables{
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.logo{
  height: 50%;
  width: auto;
}

.toolbar{
  /* width: 50%; */
  display: flex;
  justify-content: center;
  background-color: #ffeb4f;
}

.MuiTableContainer-root{
  width: 100vh !important;
  height: 60vh;
}

.th{
  width: 25%;
  text-align: left;
}

.tr{
  height: 10px;
}

.libtab{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}